body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

h1 {
  margin: 0;
  padding: 1em;
}

h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

hr {
  min-width: 640px;
  margin: 2em 0;
}

button {
  margin: 0.2em 0;
}


.panel-full-width {
  min-width: 800px;
  display: flex;
}

.panel-half-width {
  flex-grow: 1;
  min-width: 400px;
}

.App {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-panes div {
  padding-right: 1em;
}

#controls {
  padding-top: 3em;
  width: 100%;
}